# Xcode
build/
DerivedData/
*.xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*~
